.knob__input {
    --track-width: 10;
    --track-color: rgb(48, 48, 48);
    --value-color: rgb(192, 192, 192);
    --label-color: white;
    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
    flex-shrink: 1;
    flex-grow: 0;
}

.knob__label {
}
