#information Label {
    color: rgb(255, 255, 255);
    font-size: 12px;
    -unity-text-align: middle-left;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

#field-label {
    padding-right: 10px;
    -unity-font-style: bold;
    color: rgb(233, 54, 54);
}
